.App-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.App-menu ul li {
  display: inline;
}

.App-menu ul li a {
  color: #ff0370;
  text-decoration: none;
  padding: 0px;
  margin: 10px;
}

App-menu ul li a:hover {
  color: #23527c
}
